$cat gitignore

# ignore all the informational hidden folders
/.git
/.idea
src/__pycache__/core.cpython-36.pyc
*.pyc
.idea/workspace.xml
*.xml
*.ipynb
.ipynb_checkpoints/
*.pyc
src/__pycache__/
.idea/
**.csv
**.pyc
**.ipynb
examples/*.ipynb
examples/basic.ipynb
examples/strategy_optimization.ipynb
**/qteasy/data/
*/qteasy/data/
**/data/
*.dat
src/data/close.dat
src/.DS_Store
.DS_Store
ani_plot.py
.idea/misc.xml
.idea/modules.xml
.idea/qteasy.iml
.idea/vcs.xml
src/qteasy.cnf
src/qteasy.log
src/log/qteasy.log
src/log/*
*.log
src/log/
*.cnf
src/config/qt_config.cfg
src/config/saved.cfg
src/config/saved2.cfg
qteasy.cfg
config/
syslog/
UNKNOWN.egg-info/
dist/
qteasy.egg-info/
data_test/
/question.py
*.xlsx
*.numbers

examples/live_daily.py
examples/live_grid.py
examples/live_example.py
docs/build/
qteasy/__pycache__/*
