$cat gitignore

# ignore all the informational hidden folders
/.git
/.idea
qteasy/__pycache__/core.cpython-36.pyc
*.pyc
.idea/workspace.xml
*.xml
*.ipynb
.ipynb_checkpoints/
*.pyc
qteasy/__pycache__/
.idea/
**.csv
**.pyc
**.ipynb
examples/*.ipynb
examples/basic.ipynb
examples/strategy_optimization.ipynb
**/qteasy/data/
*/qteasy/data/
**/data/
*.dat
qteasy/data/close.dat
qteasy/.DS_Store
.DS_Store
ani_plot.py
.idea/misc.xml
.idea/modules.xml
.idea/qteasy.iml
.idea/vcs.xml
qteasy/qteasy.cnf
qteasy/qteasy.log
qteasy/log/qteasy.log
qteasy/log/*
qteasy/tradelog
qteasy/tradelog/*
*.log
qteasy/log/
*.cnf
qteasy/config/qt_config.cfg
qteasy/config/saved.cfg
qteasy/config/saved2.cfg
qteasy.cfg
config/
syslog/
UNKNOWN.egg-info/
dist/
qteasy.egg-info/
data_test/
/question.py
*.xlsx
*.numbers

examples/live_daily.py
examples/live_grid.py
examples/live_example.py
docs/build/
qteasy/__pycache__/*
*.nbi
