$cat gitignore

# ignore all the informational hidden folders
/.git
/.idea
qteasy/__pycache__/core.cpython-36.pyc
*.pyc
.idea/workspace.xml
*.xml
qt_test_temp.ipynb
Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/qt_test_temp-checkpoint.ipynb
*.pyc
qteasy/__pycache__/__init__.cpython-36.pyc
.idea/workspace.xml
test_par_in_different_periods.ipynb
.ipynb_checkpoints/test_par_in_different_periods-checkpoint.ipynb
.idea/workspace.xml
.ipynb_checkpoints/Multi_DMA_test-checkpoint.ipynb
Multi_DMA_test.ipynb
.ipynb_checkpoints/All_timing_test_separately-checkpoint.ipynb
.ipynb_checkpoints/Backtest_plotting-checkpoint.ipynb
All_timing_test_separately.ipynb
Backtest_plotting.ipynb
*.csv
*.pyc
*.ipynb
examples/*.ipynb
examples/strategy_optimization.ipynb
examples/basic.ipynb
examples/strategy_optimization.ipynb
examples/basic.ipynb
examples/strategy_optimization.ipynb
examples/strategy_optimization.ipynb
qteasy/data/*.dat
data/*.dat
*.dat
*.dat
qteasy/data/close-I.dat
qteasy/data/basic_eps.dat
qteasy/data/close.dat
qteasy/data/basic_eps.dat
qteasy/data/cap_rese.dat
qteasy/data/close-I.dat
qteasy/data/close.dat
qteasy/data/dt_eps.dat
qteasy/data/eps.dat
qteasy/data/finan_exp.dat
qteasy/data/high.dat
qteasy/data/low.dat
qteasy/data/net_profit.dat
qteasy/data/open.dat
qteasy/data/total_revenue_ps.dat
qteasy/data/total_share.dat
qteasy/data/basic_eps.dat
qteasy/data/basic_eps.dat
qteasy/data/cap_rese.dat
qteasy/data/basic_eps.dat
qteasy/data/open.dat
qteasy/data/total_revenue_ps.dat
qteasy/data/total_share.dat
qteasy/data/net_profit.dat
