User saved qteasy configuration
[2022/04/28, Thursday 23:57]
mode = 1
asset_pool = 000300.SH
asset_type = IDX
trade_batch_size = 0.0
sell_batch_size = 0.0
riskfree_ir = 0.0035
parallel = False
hist_dnld_parallel = 16
hist_dnld_delay = None
hist_dnld_delay_evy = None
hist_dnld_prog_bar = None
gpu = False
local_data_source = database
local_data_file_type = csv
local_data_file_path = qteasy/data/
local_db_host = localhost
local_db_port = 3306
local_db_name = ts_db
local_db_user = jackie
local_db_password = iama007
error_log_file_path = qteasy/log
trade_log_file_path = qteasy/log
print_backtest_log = False
log_backtest_detail = False
reference_asset = 000300.SH
ref_asset_type = IDX
ref_asset_dtype = close
visual = True
buy_sell_points = True
show_positions = True
cost_fixed_buy = 0
cost_fixed_sell = 0
cost_rate_buy = 0.0003
cost_rate_sell = 0.0001
cost_min_buy = 5.0
cost_min_sell = 0.0
cost_slippage = 0.0
log = True
trade_log = True
invest_start = 20160405
invest_end = 20210201
invest_cash_amounts = [100000.0]
invest_cash_dates = None
allow_sell_short = False
backtest_price_adj = none
maximize_cash_usage = False
PT_buy_threshold = 0.0
PT_sell_threshold = 0.0
price_priority_OHLC = OHLC
price_priority_quote = normal
cash_deliver_period = 0
stock_deliver_period = 1
opti_start = 20160405
opti_end = 20191231
opti_cash_amounts = [100000.0]
opti_cash_dates = None
opti_type = single
opti_sub_periods = 5
opti_sub_prd_length = 0.6
test_start = 20200106
test_end = 20210201
test_cash_amounts = [100000.0]
test_cash_dates = None
test_type = single
test_indicators = years,fv,return,mdd,v,ref,alpha,beta,sharp,info
indicator_plot_type = histo
test_sub_periods = 3
test_sub_prd_length = 0.75
test_cycle_count = 100
optimize_target = final_value
maximize_target = True
opti_method = 1
opti_grid_size = 1
opti_sample_count = 256
opti_r_sample_count = 16
opti_reduce_ratio = 0.1
opti_max_rounds = 5
opti_min_volume = 1000
opti_population = 1000.0
opti_output_count = 30
