# ======================================
# File:     requirements.txt
# Author:   Jackie PENG
# Contact:  jackie.pengzhao@gmail.com
# Created:  2023-02-03
# Desc:
#   Required dependencies for qteasy
# ======================================

pandas
numpy
numba
tushare
pymysql
dbutils
mplfinance
rich

pytz
matplotlib
requests
setuptools
textual