ValueDisplay {
    row-span: 5;
    column-span: 10;
}

InfoPanel {
    content-align: right middle;
    height: 5;
}

HoldingTable {
    width: 65%;
    height: 15;
    margin: 1;
    padding: 1;
}

StrategyTree {
    width: 35%;
    height: 15;
    margin: 1;
    padding: 1;
}

SysLog {
    height: 8;
    margin: 1;
    padding: 1;
}

ControlPanel {
    layout: horizontal;
    background: $boost;
    height: 5;
    margin: 1;
    min-width: 50;
    padding: 1;
}

Button {
    width: 16;
}
